* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  display: flex;
  min-height: 100vh;
}

.background-left {
  background-color: #f0f0f5;
  width: 30%;
  display: flex;
  justify-content: center;
  padding: 174px 54px 0px 57px;
}

.check {
  display: flex;
  flex-direction: column;
  height: 32px;
  width: 32px;
}

.check img {
  margin-bottom: 4px;
}

.container-info {
  margin-left: 24px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.info h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #0e8750;
  margin-bottom: 8px;
}

.info p {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #3f3f55;
}

.background-rigth {
  width: 70%;
  padding: 220px 230px 65px 230px;
  background-color: #f8f8f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0%;
  width: 355px;
  margin-bottom: 100px;
}

.container-input h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
  color: #343447;
  margin-bottom: 32px;
}

.container-input label {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #343447;
  margin-bottom: 6px;
}

.senha {
  margin-bottom: 20px;
}

.repetir-senha {
  margin-bottom: 46px;
}

/* .botao-cadastro {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  background: #da0175;
  border-radius: 10px;
  padding: 4px 40px;
  color: #f8f8f9;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 15px;
} */

.container-input span {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #3f3f55;
}

.container-input span a {
  color: #da0175;
  margin-left: 4px;
}

.progresso {
  display: flex;
  gap: 8px;
}
