.menu-lateral {
    background-color:#F0F0F5;
    color: #343447;
    font-weight:600;
    width: 108px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

.itens-nav{
    display: flex;
    box-sizing: border-box;
}
