.cobrancas-tabela {
  background-color: white;
  color: #3f3f55;
  border-collapse: collapse;
  border-radius: 30px;
  text-align: center;
  font-family: "Nunito";
  width: 100%;
}

.cobrancas--th {
  padding: 15px 0px;
}

.cobrancas--th > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.cobrancas--tr {
  border-bottom: 1px solid #eff0f7;
}

.cobrancas--td,
th {
  font-size: 14px;
  padding: 15px 0px;
}

.cobrancas--td {
  color: #6e6e85;
}

.cobrancas--td-emdia,
.vencida--td,
.pendente--td {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;

  border-radius: 8px;
}

.vencida--td {
  padding: 2px 8px;
  color: #971d1d;
  background: #ffefef;
}

.cobrancas--td-emdia {
  padding: 2px 10px;
  color: #1fa7af;
  background: #eef6f6;
}

.pendente--td {
  padding: 2px 8px;
  color: #c5a605;
  background: #fcf6dc;
}

.cobrancas--td-imgs div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 6px;
}

.cobrancas--td-imgs img {
  cursor: pointer;
}
