.botao_rosa {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  background: #da0175;
  border-radius: 10px;
  padding: 4px 0px;
  width: 160px;
  text-align: center;
  color: #f8f8f9;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  line-height: 25px;
}
