.home {
  min-height: 100vh;
  padding: 40px 0px;
}

.menu-lateral {
  background-color:#F0F0F5;
  color: #343447;
  width: 108px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.itens-nav{
  margin-top: 54.5px;
}

.button-nav{
  margin-bottom: 81.5px;
  font-style: "Nunito";
  font-size: 16px;
  font-weight:600;
  text-align: center;
}

.button-nav:hover{
  cursor:pointer;
}

.novo-button{
  margin-bottom: 81.5px;
  font-style: "Nunito";
  font-size: 16px;
  font-weight:600;
  text-align: center;
  color:#DA0175;
  border-right: 2px solid #DA0175;
}

.novo-button:hover{
  cursor: pointer;
}

.header {
  height: 72px;
  /* background-color: blue; */
  color: white;
  margin-left: 140px;
  margin-right: 32px;
  margin-bottom: 19px;
}

.section {
  margin-left: 188px;
  width: 79%;
}

.home-section--1 {
  display: flex;
  justify-content: space-between;

  margin-bottom: 32px;
}

.container-pagas,
.container-vencidas,
.container-previstas {
  width: 31%;
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.home-section--2 {
  display: flex;
  justify-content: space-between;
}

.clientes-section--top {
  display: flex;
  justify-content: space-between;
}

.clientes-section--top > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
