.home {
  min-height: 100vh;
  padding: 40px 0px;
}

.menu-lateral {
  background-color: black;
  color: white;
  width: 108px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.header {
  height: 72px;
  /* background-color: blue; */
  color: white;
  margin-left: 140px;
  margin-right: 32px;
  margin-bottom: 19px;
}

.section {
  margin-left: 188px;
  width: 79%;
}

.section--1 {
  display: flex;
  justify-content: space-between;

  margin-bottom: 32px;
}

.container-pagas,
.container-vencidas,
.container-previstas {
  width: 31%;
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.section--2 {
  display: flex;
  justify-content: space-between;
}
