.background {
  display: flex;
}

.background-left {
  background-color: #f0f0f5;
  width: 30%;
  display: flex;
  justify-content: center;
  padding: 174px 54px 0px 57px;
}

.check {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 32px;
  width: 32px;
}

.check img {
  margin-bottom: 4px;
}

.container-info {
  margin-left: 24px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.info h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #0e8750;
  margin-bottom: 8px;
}

.info p {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #3f3f55;
}

.background-right-conclusao {
  width: 70%;
  padding: 180px 230px 65px 230px;
  background-color: #f8f8f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0%;
  width: 355px;
  margin-bottom: 100px;
}

.container-input h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #343447;
  margin-bottom: 32px;
}

.container-input label {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #343447;
  margin-bottom: 6px;
}

.repetir-senha {
  margin-bottom: 46px;
}

.container-input span a {
  color: #da0175;
  margin-left: 4px;
}

.progresso {
  display: flex;
  gap: 8px;
  position: fixed;
  bottom: 64px;
}

.container-confirmacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 512px;
  background: #f0f0f5;
  border-radius: 30px;
  margin-bottom: 34px;
}

.container-confirmacao img {
  margin-bottom: 24px;
}
