.input-option{
    display: flex;
    flex: none;
    flex-direction: row;
    align-items: flex-start;
    background-color: #F0F0F5;
    padding: 12px 16px;
    border-radius: 10px;
    font-family: "Nunito";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    position: static;   
    left: 0px;
    top: 0px;
    flex-grow: 0;
    order: 0;
    margin: 8px 0px;
}

.bolinha{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}