.clientes-tabela {
  color: #3f3f55;
  background-color: white;
  border-collapse: collapse;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(172, 217, 197, 0.25);
  text-align: center;
  font-family: "Nunito";
  width: 100%;
}

.clientes--th {
  padding: 15px 0px;
}

.cliente--th {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.clientes--tr {
  border-bottom: 1px solid #eff0f7;
}

.clientes--td {
  font-size: 14px;
  padding: 3px 0px;
}

.inadimplente--td,
.emdia--td {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;

  border-radius: 8px;
}

.inadimplente--td {
  padding: 2px 8px;
  color: #971d1d;
  background: #ffefef;
}

.emdia--td {
  padding: 2px 26px;
  color: #1fa7af;
  background: #eef6f6;
}
