* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;

  font-family: "Montserrat";
}

label {
  font-family: "Nunito";
  font-size: 14px;
  font-weight: 600;

  margin-bottom: 6px;
}

