.titulo-header--home {
  margin-left: 50px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  color: #343447;
}

.titulo-header--container {
  position: absolute;
  bottom: 7px;
  left: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  gap: 5px;
  display: flex;
  justify-content: space-between;
}

.titulo-header--prev {
  color: #0e8750;
  text-decoration: none;
}
